---
layout: default
title:  "Articles"
permalink: /articles/
---
<style>
.block {
  display: inline-block;
  width: auto;
  height: 300px;
  margin: 20px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  opacity: 0.75;  
}

.block img {
  border-radius: 10px;
  width: 200px;
  object-fit: cover;
  transition: .5s ease;  
}
  
.block:hover {
  opacity: 1.0;
}
  
.block p {
  text-align: left;
  position: relative;
  left: 5px;
  right: 5px;
  width: 300px;
} 
  

.block p.title {
  font-weight: bold;
} 
  
</style>


<h1>Articles</h1>
<p>
We have launched articles by NYRIA, where members can write articles and share their knowledge, interests and experiences. 
</p>


<div class="flexible-matrix">
<div class="block">

<img src="paris.jpg" >
<p class="title">From A Crazy Idea to the Skies</p>

<p><i class="fa fa-calendar"></i> October 2020 <br><br>
There are those moments, when the walls come down, the formalities disappear and you are just chatting to an old colleague or a new acquaintance in the field, and ideas take on a life of their own. </p>
</div>
</div>






<!-- <div class="flexible-matrix">
  {% for workshop in site.articles reversed %}
    {% if forloop.first %}
      {% continue %}
    {% endif %}
      <div class="link-icon-container">
        <a href="{{ workshop.url }}">
          <img src="{{ workshop.image }}" alt="">
          <div class="link-box-text">{{ workshop.date }}</div>
        </a>
      </div>
  {% endfor %}
</div> -->
