---
layout: default
title:  "Network of Young Researchers in Instrumentation for Astronomy"
---
<!--
<script type="text/javascript" src="/assets/js/slideshow.js" language="JavaScript"></script>
<div class="slideshow-container">

  {% for post in site.posts %}
    {% if forloop.first %}
        <img class="slideshow-element" src="{{ post.image }}" alt="" style="display: block">
    {% else %}
        <img class="slideshow-element" src="{{ post.image }}" alt="">
    {% endif %}
    {% if forloop.index0 == 5 %}
      {% break %}
    {% endif %}
  {% endfor %}

  <img class="slideshow-element" src="assets/img/banner.jpg" alt="" style="display: block">
  <img class="slideshow-element" src="assets/img/banner.jpg" alt="">
  <img class="slideshow-element" src="assets/img/banner.jpg" alt="">
  <img class="slideshow-element" src="assets/img/banner.jpg" alt="">

  <div class="center-left slideshow-arrow" onclick="plusDivs(-1)">&#10094;</div>
  <div class="center-right slideshow-arrow" onclick="plusDivs(1)">&#10095;</div>
  <div class="bottom-center">
    <span class="slideshow-badge slideshow-badge-active" onclick="currentDiv(1)"></span>
    <span class="slideshow-badge" onclick="currentDiv(2)"></span>
    <span class="slideshow-badge" onclick="currentDiv(3)"></span>
    <span class="slideshow-badge" onclick="currentDiv(4)"></span>
  </div>
</div>
-->



<style>
.container {
  position: relative;
  height: 171px;
  width: 171px;
  margin: 20px;
  border: 1px solid #bbb;
  border-radius: 50%;
  opacity: 0.75;
}
.container img{
  height: 100%;
  border: 1px solid #bbb;
  border-radius: 50%;
  object-fit: cover;
  transition: .5s ease;
}
.container .text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  min-width: 2cm;
  font-weight: bold;
  background-color: red;
  border: 10px solid red;
  border-radius: 10px;
}
.container a {
  color: white;
  text-decoration: none;
}
.container:hover {
  opacity: 1.0;
  transform: scale(1.2);
}
</style>

<div class="" style="object-fit: contain">
  <a href="/../workshops/2019/">
    <img src="/assets/img/workshops/2019/Lisbonne-banner.jpg" alt="" style="width:100%">
  </a>
</div>

<!-- <h1 style="text-align: center;">Welcome to <font color: "red">NYRIA</font></h1> -->
<h1 style="font-size:60px;">Welcome to <font color="red">NYRIA</font></h1>

<div class="flexible-matrix">
  <div class="container">
    <a href="/../about/">
      <img src="/assets/img/icons/about2.jpg" alt="">
      <div class="link-box-text">About us</div>
    </a>
  </div>
  <div class="container">
    <a href="/../members/">
      <img src="/assets/img/icons/members2.jpg" alt="">
      <div class="link-box-text">Members</div>
    </a>
  </div>
  <div class="container">
    <a href="/../workshops/">
      <img src="/assets/img/icons/workshops2.jpg" alt="">
      <div class="link-box-text">Workshops</div>
    </a>
  </div>
  <div class="container">
    <a href="/../events/">
      <img src="/assets/img/icons/events.jpg" alt="">
      <div class="link-box-text">Events</div>
    </a>
  </div>
  <div class="container">
    <a href="/../jobs/">
      <img src="/assets/img/icons/jobs2.jpg" alt="">
      <div class="link-box-text">Jobs</div>
    </a>
  </div>
  <div class="container">
    <a href="/../links/">
      <img src="/assets/img/icons/links2.jpg" alt="">
      <div class="link-box-text">Links</div>
    </a>
  </div>
</div>
