---
layout: default
title:  "Members By Country"
permalink: /members/by_country/
---
<h1>Members By Country</h1>

<div class="flexible-matrix">
  {% for workshop in site.workshops reversed %}
    {% if forloop.first %}
      {% continue %}
    {% endif %}
      <div class="link-box">
        <a href="{{ workshop.url }}">
          <img src="{{ workshop.image }}" alt="">
        </a>
        <a href="{{ workshop.url }}">
          <div class="link-box-text">{{ workshop.year }}<br>{{ workshop.location }}</div>
        </a>
      </div>
  {% endfor %}
</div>


<!-- <div class="flexible-matrix">
  <div class="link-box">
<!--     <a href="/../about/"> -->
<!--       <img src="/assets/img/member/flags/BE_square.png" alt="img">
      <div class="link-box-text">Belgium</div>
    </a>
  </div>
  <div class="link-box">
    <a href="/assets/img/member/flags/IT_square.png" alt="img"> -->
<!--       <img src="" alt=""> -->
<!--       <div class="link-box-text">Italy</div>
    </a>
  </div>
  <div class="link-box"> -->
<!--     <a href="/../workshops/"> -->
<!--       <a href="/assets/img/member/flags/GE_square.png" alt="img">
      <div class="link-box-text">Germany</div>
    </a>
  </div>


</div> -->
