---
layout: default
title:  "Workshops"
permalink: /workshops/
---

<style>
.link-icon-container {
  position: relative;
  height: 171px;
  width: auto;
  margin: 20px;
  border: 1px solid #bbb;
  border-radius: 10px;
  opacity: 0.75;
}
.link-icon-container img{
  height: 100%;
  border: 1px solid #bbb;
  border-radius: 10px;
  object-fit: cover;
  transition: .5s ease;
}
</style>


<h1>Workshops</h1>
<!-- <p>
  The core meetings of NYRIA are the annual workshops on astronomical instrumentation.
  Currently, we are organizing the workshop for 2020, which will take place at
  <a href="https://www.eso.org/sci/activities/garching.html" target="_blank">ESO (Garching)</a>.
</p> -->

<!-- <h3 style="text-align:center; color:#BF360C;">
  +++Unfortunately, we have to announce that there will probably be no workshop in 2020, due to the spread of Covid-19+++
</h3> -->


<!-- <div class="banner-image">
  <a href="/../workshops/2020">
    <img src="/assets/img/banner.jpg" alt="img">
   <div class="center-left">NYRIA Virtual 2020</div> 
  </a>
</div> -->

<!-- <div class="" style="object-fit: contain">
  <a href="/../workshops/2020/">
    <img src="/assets/img/banner_v3.png" alt="" style="width:100%">
  </a>
</div> -->


<h1>Past NYRIA workshops</h1>

<div class="flexible-matrix">
  {% for workshop in site.workshops reversed %}
    {% if forloop.first %}
      {% continue %}
    {% endif %}
      <div class="link-icon-container">
        <a href="{{ workshop.url }}">
          <img src="{{ workshop.image }}" alt="">
          <div class="link-box-text">{{ workshop.year }}<br>{{ workshop.location }}</div>
        </a>
      </div>
  {% endfor %}
</div>
