---
layout: default
title:  "Workshops"
permalink: /workshops/
---

{% for workshop in site.workshops reversed %}
  {% if forloop.first %}
    <h1>The next workshop</h1>
    <div class="link-box">
      <a href="{{ workshop.url }}">
        <img src="{{ workshop.image_path }}" alt="">
        <div class="link-box-text">{{ workshop.year }}<br>{{ workshop.location }}</div>
      </a>
    </div>
    <h1>Past workshops</h1>
  {% else %}
    <div class="link-box">
      <a href="{{ workshop.url }}">
        <img src="{{ workshop.image_path }}" alt="">
        <div class="link-box-text">{{ workshop.year }}<br>{{ workshop.location }}</div>
      </a>
    </div>
  {% endif %}
{% endfor %}
