---
layout: default
title:  "Workshops"
permalink: /workshops/
---

<div class="" style="width:100%;">
  <a href="/../workshops/2019" style="width:100%;">
    <img src="" alt="img">
    <div class="center-left">{{ 2019 }}<br>{{ TBD }}</div>
  </a>
</div>


<h1>Past workshops</h1>

<div class="flexible-matrix">
  {% for workshop in site.workshops reversed %}
    {% if forloop.first %}
      {% continue %}
    {% endif %}
      <div class="link-box">
        <a href="{{ workshop.url }}">
          <img src="{{ workshop.image }}" alt="">
          <div class="link-box-text">{{ workshop.year }}<br>{{ workshop.location }}</div>
        </a>
      </div>
  {% endfor %}
</div>
