---
---

@import "{{ site.theme }}";

/* ---------- general design: header ---------- */

.page-header {
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  float: left;

  background-color: black;
  font-size: 14pt;
  color: red;
}
.page-header img {
  float: left;
  width: 100px;
}
.page-header h1 h2 {
  position: relative;
  left: 110px;
  margin-left: 10px;
}
.page-header a {
  color: red;
  text-decoration: none;
}

.page-header-navigation{
  position: relative;
  right: 0;
  z-index: -1;
}
.page-header-navigation ul {
  float: right;
  display: inline;
}
.page-header-navigation li {
  display: inline;
}
.page-header-navigation a {
  color: white;
  text-decoration: none;
  border: 5px solid black;
}
.page-header-navigation a:hover {
  background-color: grey;
  color: white;
  border: 5px solid grey;
  border-radius: 5px;
}


/* ---------- general design: body ---------- */

.main-content {
  clear: both;
  z-index: -2;
  position: relative;
  top: 5cm;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
	
  box-shadow: 0px 0px 100px grey;
}
.main-content a {
  color: black;
}


/* ---------- general design: footer ---------- */

.site-footer {
  clear: both;
  position: static;
	bottom:0;
	width:100%;
	height:60px;
  text-align: center;
  background-color: black;
  color: white;
}
.site-footer a {
  color: white;
}
.site-footer-credits {
  text-align: inherit;
  font-size: 14pt;
}


/* ---------- particular design classes ---------- */

.flexible-matrix {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap : wrap;
  justify-content: center;
  -ms-flex-pack : center;
  align-items : stretch;
  -ms-flex-align : stretch;
}
.link-box {
  position: relative;
  height: 171px;
  width: 304px;
  margin: 20px;

  border: 1px solid #bbb;
  border-radius: 10px;
  background-color: #ccc;
}
.link-box img {
  height: 100%;
}
.link-box:hover {
  opacity: 0.5;
}
.link-box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

  background-color: red;
  border: 10px solid red;
  border-radius: 10px;
}
.link-box a {
  color: white;
  text-decoration: none;
}

.jobs-table {
  width: 100%;
  border-collapse: collapse;
}
.jobs-table tr:nth-child(odd) {
  background-color: #dddddd;
}
.jobs-table td {
  border: 1px solid #dddddd;
  text-align: left;
}
.jobs-table-date {
  width: 20%;
  text-align: center;
}
.jobs-table-content {
  width: 80%;
}
.jobs-table-content ul {
  list-style-type: none;
}

.link-list {
  padding-left: 1cm;
}
.link-list a {
  color: blue;
}
