---
---

@import "{{ site.theme }}";

.page-header {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;

  background-color: black;
  font-size: 14pt;
  color: red;
  opacity: .8;
}
.page-header h1 h2 {
  color: red;
}
.page-header ul {
  float: right;
  display: inline;
}
.page-header li {
  display: inline;
}
.page-header a {
  color: white;
  text-decoration: none;
  border: 5px solid black;
}
.page-header a:hover {
  background-color: grey;
  color: white;
  border: 5px solid grey;
}

.main-content {
  padding-top: 150px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}
.main-content a {
  color: black;
}

.site-footer {
  text-align: center;
}

.site-footer-credits {
  text-align: inherit;
  font-size: 14pt;
}

.members {
  width: 100%;
  border-collapse: collapse;
}
.members tr:nth-child(odd) {
  background-color: #dddddd;
}
.members td {
  border: 1px solid #dddddd;
  text-align: left;
}
.members-image {
  width: 20%;
  text-align: center;
}
.members-image img {
  width: 80%;
}
.members-content {
  width: 70%;
}
.members-content ul {
  list-style-type: none;
}
.post {}
.workshop {}
