---
---

@import "{{ site.theme }}";

* {
  box-sizing: border-box;
}


/* ---------- general design: body ---------- */
html, body {
  height: 100%;
}


/* ---------- general design: header ---------- */
header {
  z-index: 10;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  float: left;
  display: inline;

  background-color: #3D3C3A;
  font-size: 14pt;
  color: red;

  opacity: 1.0;
}
header h1 h2 {
  position: relative;
  left: 110px;
  margin-left: 10px;
}

header a {
  color: #BF360C;
  text-decoration: none;
  line-height: 25px;
}

.site-header-logo {
  position: relative;
  height: 100%;
  width: 50%;
  left: 0;
  float: left;
  display: inline;
  background-color: transparent;
}
.site-header-logo img {
  height: 100%;
}
.site-header-logo-text {
  position: absolute;
  top: 0;
  left: 90px;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

.site-header-navigation{
  position: absolute;
  padding-right: 10%;
  right: 0;
  z-index: -1;
  bottom: 10px;
}
.site-header-navigation ul {
  float: right;
  display: inline;
}
.site-header-navigation li {
  display: inline;
}
.site-header-navigation a {
  color: white;
  text-decoration: none;
  border: 5px solid #3D3C3A;
  margin: inherit;
}
.site-header-navigation a:hover {
  background-color: #BF360C;
  color: white;
  border: 5px solid #BF360C;
  border-radius: 5px;
  margin: inherit;
}


/* ---------- general design: main ---------- */
main {
  z-index: 0;
  width: 70%;

  position: relative;
  margin-top: 110px;
  margin-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;

  padding: 25px;
  text-align: justify;
  box-shadow: 0px 0px 8px gray;
}
main h1 {
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}
main h2 {
  padding-top: 250px;
  padding-bottom: 10px;
}
main h3 {
  padding-top: 10px;
  padding-bottom: 5px;
}
main h4 {
  padding-top: 10px;
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  main {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

main:after {
  content: "";
  display: table;
  clear: both;
}


/* ---------- general design: footer ---------- */

footer {
  display: -webkit-flex;
  display: flex;
  position: relative;
  //z-index: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #3D3C3A;

  color: white;
}
@media (max-width: 600px) {
  footer {
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-credits {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  //position: relative;
  float: left;
  text-align: left;
  background-color: green;
}
.footer-navigation{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  float: left;
  text-align: right;
  background-color: red;
}
.footer-navigation ul {
  float: right;
  display: inline;
}
.footer-navigation li {
  display: inline;
}
.footer-navigation a {
  text-decoration: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-navigation a:hover {
  color: #BF360C;
}



/* ---------- particular design classes ---------- */

/* slideshow */
.slideshow-container {
  width: 100%;
  position: relative;
}
.slideshow-element {
  width: 100%;
  display: none;
  opacity: 0.8;
  background: grey;
  height: 250px;
  object-fit: cover;
}
.slideshow-arrow{
  font-size: 30px;
  color: white;
}
.slideshow-arrow:hover {
  opacity: 0.5;
}
.center-left {
  position: absolute;
  top: 50%;
  left: 10px;
  text-align: left!important;
  height: 20px;
}
.center-right {
  position: absolute;
  top: 50%;
  right: 10px;
  text-align: right!important;
  height: 20px;
}
.bottom-center {
  position:absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
.slideshow-badge {
  display: inline-block;
  height:13px;
  width:13px;
  padding:0;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
}
.slideshow-badge:hover {
  background-color: white;
}
.slideshow-badge-active {
  background-color: white;
}

/* link-icons */
.flexible-matrix {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap : wrap;
  justify-content: center;
  -ms-flex-pack : center;
  align-items : stretch;
  -ms-flex-align : stretch;
}
.link-box {
  position: relative;
  height: 171px;
  margin: 20px;

  border: 1px solid #bbb;
  border-radius: 10px;
}
.link-box img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.8;
}
.link-box img:hover {
  opacity: 0.5;
}
.link-box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

  min-width: 2cm;
  font-weight: bold;

  opacity: 0.9;

  background-color: #BF360C;
  border: 10px solid #BF360C;
  border-radius: 10px;
}
.link-box a {
  color: white;
  text-decoration: none;
}
.link-icon-container {
  position: relative;
  height: 171px;
  width: 171px;
  margin: 20px;
  border: 1px solid #bbb;
  border-radius: 50%;
  opacity: 0.75;
}
.link-icon-container img{
  height: 100%;
  border: 1px solid #bbb;
  border-radius: 50%;
  object-fit: cover;
  transition: .5s ease;
}
.link-icon-container .text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  min-width: 2cm;
  font-weight: bold;
  background-color: red;
  border: 10px solid red;
  border-radius: 10px;
}
.link-icon-container a {
  color: white;
  text-decoration: none;
}
.link-icon-container:hover {
  opacity: 1.0;
  transform: scale(1.2);
}


/* tables */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tr:nth-child(odd) {
  background-color: #dddddd;
}
.table td {
  padding: 25px;
  border: 1px solid #dddddd;
  text-align: left;
}
.table td:hover {
  background-color: #3D3C3A;
  color: white;
}
.table ul {
  list-style-type: none;
}
.table ol {
  padding-left: 25px;
}
.table a {
  text-decoration: none;
  color: inherit;
}
.table-image img {
  height: 140;
  float: right;
}
.table img {
  height: 140;
}
.table-entry {
  text-align:left;
  font-color:black;
  text-decoration: none;
}
.table-entry img {
  height: 180;
  border: 2px solid #bbb;
  border-radius: 15px;
  object-fit: cover;
}
.table-font-description {
  text-align:left;
  font-color:black;
  text-decoration: none;
}

.banner-image {
   width: 100%;
   position: relative;
}
.banner-image img {
  position: absolute;
  width: 100%;
}

/* members*/
.member-profile-image-column {
  float: left;
  width: 25%;
  padding: 20px;
  background-color: #dddddd;
  border-radius: 15px;
}
.member-profile-image-column img {
  width: 100%;
  border: 2px solid #bbb;
  border-radius: 15px;
  object-fit: cover;
}
.member-profile-text-column {
  float: left;
  padding: 20px;
  width: 75%;
}
@media (max-width: 600px) {
  .member-profile-image-column, .member-profile-text-column {
    width: 100%;
    height: auto;
  }
}


/* posts */
.post-container {
  width: 90%;
  height: 300px;
  margin: 50px;
  padding: 25px;
  border: 1px solid grey;
  box-shadow: 10px 10px 8px gray;

  display: block;
  float: inherit;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  overflow:hidden; /* hides overflowing text */
}
.post-container a {
  text-decoration: none;
}
.post-container img {
  height: 80%;
  float: left;
  margin-right: 10px;
}
.post-author {
  text-align: right;
}
.post-short {
  text-align: justify;
}


/* images */
.stand-alone-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 12cm;
}
.stand-alone-image-subtitle {
  font-size: 10pt;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}


/* text layout */
.double-column {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  -webkit-column-rule: 1px solid grey; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid grey; /* Firefox */
  column-rule: 1px solid grey;
}

.triple-column {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  -webkit-column-rule: 1px solid grey; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid grey; /* Firefox */
  column-rule: 1px solid grey;
}
