---
layout: members_by
title:  "Members By Research"
permalink: /members/by=research/research=Optical_Turbulence_Profiling/
keyword: "Optical Turbulence Profiling"
---


<!-- 

<h1>Members In Optical Turbulence Profiling</h1>


<table class="table">
  {% for member in site.members %}
  {% if member.keyword1 == page.keyword or member.keyword2 == page.keyword or member.keyword3 == page.keyword or member.keyword4 == page.keyword or member.keyword5 == page.keyword  %}
    <tr>
      <td class="table-image"> <a href="{{ member.url }}"><img src="{{ member.image_path }}" height="140"></a></td>
      <td class="table-content">
        <ul>
          <li><b>Name:</b> <a href="{{ member.url }}">{{ member.name }}</a> </li>
          <li><b>Affiliation:</b> {{ member.affiliation }} </li>
          <li><b>Research:</b> {{ member.title }} </li>
          <li><b>Keywords:</b> {{ member.keywords }} </li>
          <li><b>Contact:</b> <a href="mailto:{{ member.email}}">{{ member.email }}</a> </li>
        </ul>
      </td>
    </tr>
  {% endif %}
  {% endfor %}
</table>


     -->
