<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/assets/img/NYRIA_Logo_small.png">
    <script type="text/javascript" src="https://nyriastronomy.github.io/assets/js/slideshow.js" language="JavaScript"></script>
    {% seo %}
  </head>

  <body>

    <header class="site-header" role="banner">
      <a href="/../index.html">
      <img src="/assets/img/NYRIA_Logo.png" alt="">
        <h1 class="project-name">YRIA</h1>
        <h3 class="project-name">etwork of Young Researchers in Instrumentation for Astronomy</h3>
<!--         <img src="/assets/img/NYRIA_Logo_small.png" alt="">
        <h1 class="project-name">NYRIA</h1>
        <h3 class="project-name">Network of Young Researchers in Instrumentation for Astronomy</h3> -->
      </a>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}

      <div class="site-header-navigation">
        <ul>
          <li><a href="/../posts/">Posts</a></li>
          <li><a href="/../about/">About</a></li>
          <li><a href="/../members/">Members</a></li>
          <li><a href="/../workshops/">Workshops</a></li>
          <li><a href="/../events/">Events</a></li>
          <li><a href="/../jobs/">Jobs</a></li>
          <li><a href="/../links/">Links</a></li>
          <li><a href="/../contact/">Contact</a></li>
        </ul>
      </div>
    </header>

    <main id="content" class="site-main" role="main">
      <div class="site-main-content-wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="site-footer-content-wrapper">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Copyright &copy; 2019 NYRIA &mdash; <a href="/../disclaimer/">Disclaimer</a> &mdash; <a href="/../contact/">Contact</a></span>
      </div>
    </footer>

  </body>
</html>
