<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/assets/img/NYRIA_Logo_small.png">
    <script type="text/javascript" src="https://nyriastronomy.github.io/assets/js/slideshow.js" language="JavaScript"></script>
  </head>

  <body>

    <header class="site-header" role="banner">
      <a href="/../index.html">
        <img src="/assets/img/NYRIA_Logo_small.png" alt="">
        <h1 class="project-name">NYRIA</h1>
        <h3 class="project-name">Network of Young Researchers in Instrumentation for Astronomy</h3>
      </a>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}

      <div class="site-header-navigation">
        <ul>
          <li><a href="/../news/">News</a></li>
          <li><a href="/../about/">About</a></li>
          <li><a href="/../members/">Members</a></li>
          <li><a href="/../workshops/">Workshops</a></li>
          <li><a href="/../events/">Events</a></li>
          <li><a href="/../jobs/">Jobs</a></li>
          <li><a href="/../links/">Links</a></li>
          <li><a href="/../contact/">Contact</a></li>
        </ul>
      </div>
    </header>

    <main id="content" class="site-main" role="main">
      <div class="site-main-content-wrapper">
        <!--Read search parameters from link-->
        {% assign criterion = page.permalink | split: "/" | last | split: "=" | first %}
<!--         {% assign value = page.permalink | split: "/" | last | split: "=" | last | replace: "_", " " %} -->

        <!--Define headline according to search criterion-->
        {% if criterion == "country" %}
          {% assign value = page.item_value %}
          <h1>Members In {{ value }}</h1>
        
        {% elsif criterion == "research" %}
           {% assign value = page.keyword %}  
             
        
          <h1>Members Working On {{ value | capitalize }}</h1>
        {% elsif criterion == "institute" %}
          <h1>Members At {{ value | capitalize }}</h1>
        {% endif %}

        <!--Define subset of members according to search criterion-->
        {% assign member_subset = site.members | where: criterion, value %}

        <table class="table">
          {% for member in member_subset %}
            <tr>
              <td class="table-image"> <a href="{{ member.url }}"><img src="{{ member.image_path }}" height="140"></a></td>
              <td class="table-content">
                <ul>
                  <li><b>Name:</b> <a href="{{ member.url }}">{{ member.name }}</a> </li>
                  <li><b>Affiliation:</b> {{ member.affiliation }} </li>
                  <li><b>Research:</b> {{ member.title }} </li>
                  <li><b>Keywords:</b> {{ member.keywords }} </li>
                  <li><b>Contact:</b> <a href="mailto:{{ member.email}}">{{ member.email }}</a> </li>
                </ul>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </main>

    <footer class="site-footer">
      <div class="site-footer-content-wrapper">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Copyright &copy; 2019 NYRIA &mdash; <a href="/../impressum/">Impressum</a> &mdash; <a href="/../contact/">Contact</a></span>
      </div>
    </footer>

  </body>
</html>
