<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/assets/img/NYRIA_Logo_small.png">
    <script type="text/javascript" src="https://nyriastronomy.github.io/assets/js/slideshow.js" language="JavaScript"></script>

    {% seo %}
  </head>

  <body>

    <header role="banner">
      <a href="/../index.html"><img class="header-logo" src="/assets/img/NYRIA_Logo.png" alt=""></a>
      <a href="/../index.html"><span class="header-text"><p>Network of <br>Young <br>Researchers in<br>Instrumentation for <br>Astronomy</p></span></a>

      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}

      <nav class="header-nav">
        <ul>
          <!-- <li><a href="/../posts/">Posts</a></li> -->
          <li><a href="/../about/">About</a></li>
          <li><a href="/../members/">Members</a></li>
          <li><a href="/../workshops/">Workshops</a></li>
          <li><a href="/../events/">Events</a></li>
          <li><a href="/../jobs/">Jobs</a></li>
          <li><a href="/../links/">Links</a></li>
          <li><a href="/../contact/">Contact</a></li>
        </ul>
      </nav>
    </header>

        <main id="content" role="main">

      <div class="member-profile-image-column">
<!--         <p style="font-size:30px;text-align:center;">{{ page.name }}</p>
        <p style="text-align:center;">{{ page.position}}</p> -->

        <img  src="{{page.image_path}}" alt=" ">

        <p style="text-align:left;">{{ page.affiliation }}<br>
        {{ page.jointaffiliation }}<br>
        {{ page.country }}</p>
        <p></p>
        <p style="text-align:left;"><b>Contact:</b><br>
          <a href= "mailto:"{{ page.email }}>Email</a></p>
          <a href="page.website">Personal Website</a> <br>
        <pstyle="text-align:left;"><b>More Links:</b><br>

        <a href="page.orcid">ORCID</a><br>
        <a href="page.rgate">Research Gate</a>  <br>      
        <a href="page.linkedin">LINKEDIN</a>   </p>    

      </div>

      <div class="member-profile-text-column">

        <h1>{{ page.name }}</h1>
        <p style="text-align:left;"><b>{{ page.position}}</b></p>
<!--         {{ page.affiliation }}<br></p> -->
        <h2>Research Interests</h2>
        <p style="text-align:left;">{{ page.keywords }}</p>
        
       
        {{ content }}

        <!-- <p><b>Current Research Summary:</b> </p>
        {{ page.summary}}</p>

        <p><b>Prior Research:</b> </p>
        {{ page.prior}}</p> -->

      </div>
    </main>
    
    

<!--     <main id="content" role="main">

      <div class="member-profile-image-column">
        <p style="font-size:30px;text-align:center;">{{ page.name }}</p>
        <p style="text-align:center;">{{ page.position}}</p>

        <img  src="{{page.image_path}}" alt=" ">

        <p>{{ page.affiliation }}</p>
        <p>{{ page.jointaffiliation }}</p>
        <p>{{ page.country }}</p>
        <p></p>
        <p><b>Contact:</b><br>{{ page.email }}</p>
        <p></p>
        <p><b>Website:</b><br>{{ page.website }}</p>
        <p><b>ORCID:</b><br>{{ page.orcid }}</p>
        <p><b>LINKEDIN:</b><br>{{ page.linkedin }}</p>
        <p><b>Research gate:</b><br>{{ page.rgate }}</p>
      </div>

      <div class="member-profile-text-column">

        <h1>{{ page.title }}</h1>
        <p style="text-align:center;">{{ page.keywords }}</p>
        {{ content }}

        <!-- <p><b>Current Research Summary:</b> </p>
        {{ page.summary}}</p>

        <p><b>Prior Research:</b> </p>
        {{ page.prior}}</p> -->

<!--       </div>
    </main> --> 

    <footer>
      {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}

      <div class="footer-credits">
        Copyright 2020 NYRIA
      </div>
      <div class="footer-navigation">
        <ul>
          <li><a href="/../contact/">Contact</a></li>
          <li><a href="/../disclaimer/">Impressum</a></li>
        </ul>
      </div>
    </footer>

  </body>
</html>
